<h1>Tianxing Ma</h1>
<h2>Computer Science</h2>

<p>
Hello! Welcome to the page about Tianxing Ma !
</p>
<ul>
<li>Coming From China</li>
<li>Love Video Game</li>
</ul>

<p>
<%= link_to 'https://github.com/matianxing1992/wapp', 'https://github.com/matianxing1992/wapp' %>
</p>

<%= image_tag("Tianxing.jpg") %>